@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para Swiper */
.swiper-button-prev,
.swiper-button-next {
    color: #220f67
}

.check-reservation .text-medium {
    font-size: 2rem;
    height: 3.5rem;
}

.button {
    height: 4rem !important;
}
